.main-text {
  color:blueviolet;
}

#main-text {
  color: red;
}

div b, #main-text .main-text {
  color: green;
}


.main_link {
  color: red;
  text-decoration: none;
}
.main_link:hover {
  color: blue;
  text-decoration: overline;
}